body{
  background-image: url(https://static.pexels.com/photos/34020/pexels-photo-large.jpg); background-repeat: no-repeat; background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  float: left;
}
header{
  font-family: inherit;
  font-size: 26;
}
h1{
  margin-left:30px;
}
li{
  float: left;
  list-style: none;
  background-color: white;
}
li a {
  display: block;
  color: brown;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
margin-bottom: 40px;
}
