body{
  background-image: url (https://static.pexels.com/photos/34020/pexels-photo-large.jpg)
}
.navitem{
  display: inline;
  margin-left:200px;
  font-size: 20;
  font-style: bold;
  align-items: center;
}
